@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: url("Images/cell.jpg");
  background-position: center/cover;
  background-repeat: repeat;
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}

.content {
  margin: 0 25%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  color: rgb(172, 247, 222);
  padding: 5%;
}
#kindOfCell,
#time {
  color: rgb(154, 135, 172);
}

.time {
  opacity: 0;
}
#hover {
  margin-right: 50px;
  color: rgb(64, 208, 224);
  background-color: rgb(90, 78, 101);
  padding: 10px;
  border-radius: 5%;
}
#btn {
  background-color: rgb(64, 208, 224);
  color: rgb(58, 50, 65);
  padding: 10px;
  border-radius: 5%;
}

a {
  text-decoration: none;
  display: block;
  margin-top: 25px;
  color: rgb(64, 208, 224);
  font-size: 1.25rem;
}
a:hover {
  color: rgb(172, 247, 222);
}
